#file-explorer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  .directory-box {
    width: fit-content;
    color: beige;
  }

  .file {
    width: fit-content;
    font-size: 1.2rem;
    font-style: italic;
    font-weight: 400;
    margin: 5px 0;
    &:hover {
      cursor: default;
    }
  }

  .directory {
    width: fit-content;
    font-size: 1.8rem;
    font-weight: 600;
    margin: 5px 0;
    &:hover {
      cursor: pointer;
    }
  }
}